
.v3-L h1, .v3-L h2, .v3-L h3, .v3-L p {
	margin: 0;
	padding: 0;
}

.row_header7 {
	background-image: url('../img/site/page_3/back1.png'); 
	background-repeat: no-repeat;
}

.v3_main .rock1 {
	margin-top: 10px;
	font-size: 57.47px;
	font-family: Ubuntu-M;
	color:#fff;
	text-align: center;
}
.v3_main .rock2 {
	margin-top: 20px;
	font-size: 28.7px;
	font-family: Ubuntu-L;
	color:#fff;
	text-align: center;
}
.v3_main .rock3 {
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 22px;
	font-family: Ubuntu-M;
	color:#ffa054;
	text-align: center;
}

.v3_main  .small-block {
	background-image: url('../img/site/page_3/back.png'); 
	background-repeat: no-repeat;
	height: 257px;
	width: 100%;
	margin-left: 47px;
}

.v3_main .rock4 {
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 29px;
	font-family: Ubuntu-M;
	color:#fff;
	text-align: center;
	margin-left: 42px;

}
.v3_main .v4_main2 {
	background-color: transparent;
}

.v3_main .v4_main2 .help {
	margin-bottom: 0;
	margin-left: 128px;
	text-align: center;
}
.v3_main1  {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}
.v3_main1 img {
}
.v3_main1 .rock5 {
	font-size: 48px;
	font-family: Ubuntu-M;
	color:#00363e;
	text-align: center;
}
.v3_main1 .rock6 {
	font-size: 28.45px;
	font-family: Ubuntu-M;
	color:#36c6a4;
	text-align: center;
	text-transform: uppercase;
}
.v3_main1 .fire {
	text-align: center;
}
.v3_main2::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 30px 29px 0 29px;
    border-color: #fff transparent transparent transparent;
    left: calc(50% - 43.5px);

}

.v3_main2 .wolf {
	height: 1550px;
	width: 100%;
	position: absolute;
}
.v3_main2 .content {
	position: relative;
}

.v3_main2 .rock7 {
	margin-top: 50px;
	margin-bottom: 70px;
	font-size: 48px;
	font-family: Ubuntu-M;
	color:#00363e;
	text-align: center;
}

.v3_main2 .rock8 {
	color:#185373;
}
.v3_main2 .cl1 {
	text-align: center;
}

.v3_main2 .rock9 {
	margin-top: 80px;
	font-size: 36px;
	font-family: Ubuntu-L;
	color:#033840;
}
.v3_main2 .rock10 {
	margin-top: 60px;
	margin-bottom: 50px;
	font-size: 24px;
	font-family: Ubuntu-R;
	color:#434343;
}
.v3_main2 .rock11 {
	margin-top: 60px;
	margin-bottom: 80px;
	font-size: 31.88px;
	font-family: Ubuntu-M;
	color:#00363e;
	text-align: center;
	text-transform: uppercase;
}
.v3_main2 .rock12 {
	font-family: Ubuntu-MI;
	color:#00363e;
}
.v3_main2 .rock13 {
	margin-bottom: 68px;
	font-size: 30px;
	font-family: Ubuntu-R;
	color:#000;
}
.v3_main2 .rock14 {
	margin-bottom: 90px;
	font-size: 28px;
	font-family: Ubuntu-LI;
	color:#000;
}
.v3_main2 .rock16 {
	font-family: Ubuntu-L;
}

.v3_main2 .rock15 {
	font-size: 28px;
	font-family: Ubuntu-M;
	color:#2a565c;
}
.v3_main2 .rock17 {
	font-family: Ubuntu-L;
	color:#000;
}
.v3_main2 .rock18 {
	margin-bottom: 20px;
	font-size: 17.72px;
	font-family: Ubuntu-M;
	color:#454a4b;
}
.v3_main2 .rock19 {
	margin-top: 20px;
	font-size: 16.64px;
	font-family: Ubuntu-B;
	color:#36c6a4;
	text-align: right;
	text-decoration: underline;
}
.v3_main2 .cl4 img {
	width: 100%;
}
.v3_main3 {
	background-color: #fff;
}
.v3_main3 .v6_main6 {
	background-color: #fff;
}
.v3_main3 .v6_main6 .v7_main2{
	background-color: #fff;
}

.v3_main3 .rock20 {
	margin-top: 70px;
	margin-bottom: 120px;
	font-size: 33.57px;
	font-family: Ubuntu-R;
	color:#000;
	text-align: center;
}

.v3_main3 {
	padding-bottom: 50px;
}
.v3_main3 .v6_main6 .unit23 {
	margin-top: 160px;
}

.v3_main4 {
	padding-bottom: 100px;
	background-color: #E7E7E7;
} 
.v3_main4 .v5_main6{
	background-color: #E7E7E7;
} 
.v3_main4 input[type=checkbox].css-checkbox + label.css-label {
    font-size: 24px;
    color: #005469;
    height: 57px;
    margin-top: 92px;
    font-family: Ubuntu-R;
}

.v3_main4 input[type=checkbox].css-checkbox + label.css-label {
    line-height: 36px;
}

.v3_main4  .please input[type=checkbox].css-checkbox + label.css-label  {
	font-family: Ubuntu-M;
	
}
.v3_main4  .please  .term15 {
	font-size: 24px;
}

.v3_main5  {
	padding-bottom: 98px;
	background-color: #005469;
}
.v3_main5 .lv1_block_block8  {
	background-color: #005469;
}
.v3_main5 .sone50 {
	font-size: 48px;
    margin-top: 10px;
    font-family: Ubuntu-M;
	color: #fff;
	text-align: center;
}
.v3_main5 .sone51 {
	font-size: 24px;
    margin-bottom: 50px;
    font-family: Ubuntu-R;
	color: #fff;
	text-align: center;
}

.v3_main6 {
	background-color: #fff;
}
.v3_main6 .v6_main6{
	background-color: #fff;	
}
.v3_main6 .v6_main6 .v11_main9{
	min-height: inherit;
	background-color: #fff;	
}
.v3_main6 .v6_main6 .v11_main9 .v7_main2 {
	background-color: #fff;	
}


.v3_main7 {
	margin-top: -100px;
	background-color: #FFA054;
}
.v3_main7 .sone60 {
	font-size: 37px;
    margin-top: 20px;
    margin-bottom: 45px;
    font-family: Ubuntu-M;
	color: #fff;
	text-align: center;
	
}
.v3_main8::before {
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    border-style: solid;
    border-width: 70px 0 0 76px;
    border-color: #FFA054 transparent transparent transparent;
    left: calc(50% - 37px);
    margin-top: -46px;
}
.v3_main9 .v5_main10::before {
	display: none;
}
.v3_main9 {
	background-image: url('../img/site/page_3/back3.png'); 
}
.v3_main9 .v5_main10 {
	background-image: url('../img/site/page_3/back3.png'); 
}
.v3_main9 .v5_main10 img {
	width: 60%;
}

.v3_main9 .v5_main10 .can2 {
    font-size: 18px;
}











@media(max-width: 1190px) {
	.v3_main .rock4 {
		margin-left: 87px;
	}
	.v3_main .small-block {
	    margin-left: 0;
	}
	.v3_main7 {
		margin-top: -180px;
	}
	.v3_main7 .cl {
		display: none;
	}
	.v3_main4 .please .term15 {
	    font-size: 17px;
	}
	.v3_main4 input[type=checkbox].css-checkbox + label.css-label {
	    line-height: 31px;
	}
	.v3_main4  .v5_main6 .rain {
	    width: 100%;
	    margin-top: 130px;
	}
	.v3_main3 .v6_main6 .unit23 {
	    margin-top: 180px;
	}
	.v3_main2 .rock13 {
	    margin-bottom: 40px;
	}
	.v3_main2 .rock14 {
	    margin-bottom: 46px;
	}
	.v3_main2 .rock15 {
	    font-size: 25px;
	}
	.v3_main2 .rock18 {
	    font-size: 15px;
	}
	.v3_main2 .wolf {
	    height: 1400px;
	}
	.v3_main2 .rock9 {
	    margin-top: 27px;
	    font-size: 33px;
	}
	.v3_main2 .rock11 {
	    margin-top: 32px;
	    margin-bottom: 67px;
	    font-size: 28px;
	}
	.v3_main1 .rock5 {
	    font-size: 40px;
	}
	.v3_main1 .rock6 {
	    font-size: 20px;
	}
	.v3_main .rock1 {
	    font-size: 39px;
	}
	.v3_main .rock4 {
		font-size: 24px;
	}
}
@media(max-width: 992px) {
	.Root {
		 margin-left: 44px;
	}
	.v3_main .rock4 {
		margin-left: 0;
	}
	.v3_main7 {
		margin-top: 0px;
	}
	.v3_main7 .sone60 {
	    font-size: 30px;
	}
	.v3_main5 .sone50 {
    	font-size: 38px;
	}
	.v3_main4 .v5_main6 .rain {
	    width: 100%;
	    margin-top: 214px;
	}
	.v3_main4 .v5_main6 .term15 {
	    font-size: 13px;
	}
	.v3_main4 input[type=checkbox].css-checkbox + label.css-label {
	    font-size: 20px;
	}
	.v3_main3 .v6_main6 .unit23 {
	    margin-top: 200px;
	}
	.v3_main3 .rock20 {
	    margin-top: 52px;
	    margin-bottom: 49px;
	    font-size: 26px;
	}
	.v3_main2 .wolf {
	    height: 1230px;
	}
	.v3_main2 .rock19 {
    	margin-top: 0;
	}
	.v3_main2 .hate {
		display: none;
	}
	.v3_main2 .rock11 {
		font-size: 25px;
	}
	.v3_main2 .rock13 {
		font-size: 22px;
	}
	.v3_main2 .rock18 {
	    font-size: 11px;
	}
	.v3_main2 .rock15 {
	    font-size: 23px;
	}
	.v3_main2 .rock14 {
		font-size: 24px;
	    margin-bottom: 30px;
	}
	.v3_main2 .rock10 {
	    margin-top: 50px;
	    margin-bottom: 50px;
	    font-size: 22px;
	}
	.v3_main2 .rock9 {
	    margin-top: 27px;
	    font-size: 25px;
	}
	.v3_main2 .cl1 img {
		width: 88%;
	}
	.v3_main2 .rock7 {
	    margin-top: 50px;
	    margin-bottom: 57px;
	    font-size: 37px;
	}
	.v3_main1 .rock5 {
	    font-size: 30px;
	}
	.v3_main1 .rock6 {
	    font-size: 17px;
	}
	.v3_main .v4_main2 .help {
	    margin-left: 88px;
	}
	.v3_main .rock4 {
	    font-size: 19px;
	}
}
@media(max-width: 767px) {
	.Root {
		 margin-left: 0;
	}
	.v3_main7 {
		margin-top: 40px;
	}
	.v3_main7 .sone60 {
	    font-size: 25px;
	}
	.v3_main5 {
    	padding-bottom: 24px;
	}
	.v3_main5 .sone50 {
	    font-size: 32px;
	}
	.v3_main4 {
    	padding-bottom: 0;
	}
	.v3_main4 .v5_main6 .term15 {
	    font-size: 18px;
	}
	.v3_main4 .v5_main6 .rain {
	    width: 38%;
	    margin-top: 10px;
	}
	
	.v3_main2 .rock13 {
	    font-size: 20px;
	}
	.v3_main2 .wolf {
	    height: 1580px;
	}
	.v3_main2 .cl4 img {
	    width: 85%;
	}
	.v3_main2 .rock15 {
	    font-size: 20px;
	    margin-bottom: 16px;
	}
	.v3_main2 .rock11 {
	    margin-top: 0;
	    margin-bottom: 48px;
	    font-size: 22px;
	}
	.v3_main2 .content {
		text-align: center;
	}
	.v3_main2 .cl1 img {
	    width: 35%;
	}
	.v3_main2 .rock7 {
	    font-size: 30px;
	}
	.v3_main1 img {
	    width: 100%;
	}
	.v3_main .rock3 {
	    margin-bottom: 27px;
	}
	.v3_main .bever {
		display: none;
	}
	.v3_main .small-block {
	    height: 242px;
	}
	.v3_main .rock4 {
	    font-size: 18px;
	}
	.v3_main .rock2 {
	    font-size: 23px;
	}
	.v3_main .rock3 {
	    font-size: 17px;
	}
	.v3_main .rock1 {
	    font-size: 30px;
	}
	.v3_main  .v4_main2 .btn2 {
	    width: 100%;
	}
	.v3_main  .v4_main2 .btn1 {
	    width: 100%;
	}
	.v3_main .v4_main2 .help {
	    margin-left: 0;
	}
}
@media(max-width: 600px) {
	.v3_main7 .sone60 {
	    font-size: 20px;
	}
	.v3_main5 .lv1_block_block8>.container>p:first-child {
	    line-height: initial;
	}
	.v3_main5  .lv1_block_block8>.container>p:nth-child(2) {
	    padding-top: 29px;
	}
	.v3_main5 .sone50 {
	    font-size: 28px ! important;
	}
	.v3_main4 .v5_main6 .term15 {
	    font-size: 16px;
	}
	.v3_main4 .v5_main6 .rain {
	    width: 38%;
	    margin-top: 40px;
	}
	.v3_main3 .rock20 {
	    margin-top: 38px;
	    margin-bottom: 40px;
	    font-size: 23px;
	}
	.v3_main2 .wolf {
	    height: 1350px;
	}
	.v3_main2 .rock19 {
		font-size: 14px;
	}
	.v3_main2 .rock15 {
	    font-size: 19px;
	}
	.v3_main2 .rock14 {
	    font-size: 22px;
	    margin-bottom: 20px;
	}
	.v3_main2 .rock13 {
	    margin-bottom: 25px;
	    font-size: 18px;
	}
	.v3_main2 .rock11 {
	    margin-top: 0;
	    margin-bottom: 32px;
	    font-size: 18px;
	}
	.v3_main2 .rock10 {
	    margin-top: 35px;
	    margin-bottom: 36px;
	    font-size: 18px;
	}
	.v3_main2 .rock9 {
	    margin-top: 20px;
	    font-size: 20px;
	}
	.v3_main2 .rock7 {
	    font-size: 27px;
	}
	.v3_main1 .wrong {
		display: none;
	}
	.v3_main1 img {
	    width: 100%;
	    margin-top: 16px;
	}
	.v3_main1 .rock5 {
	    font-size: 24px;
	}
	.v3_main1 .rock6 {
	    font-size: 16px;
	}
	.v3_main .rock3 {
	    margin-bottom: 21px;
	}
	.v3_main .v4_main2 .btn1 {
	    height: 35px;
	}
	.v3_main .v4_main2 .btn2 {
	    height: 35px;
	}
	.v3_main .small-block {
	    height: 246px;
	}
	.v3_main .cloud {
		width: 100%;
	}
	.v3_main .rock4 {
	    font-size: 12px;
	}
	.v3_main .rock1 {
	    font-size: 27px;
	}
}


@media(max-width: 485px) {
	.v3_main2::before {
		display: none;
	}
	.v3_main1 img {
	    margin-left: 133px;
	}
	.v3_main1 .fire-middle {
		width: 100%;
		margin-left: 15px;
	}
	.v3_main1 .fire {
	    width: 35%;
	}
	.v3_main1 .rock5 {
	    font-size: 21px;
	}
	.v3_main1 .rock6 {
	    font-size: 15px;
	}
}


@media(max-width: 400px) {
	.v3_main9 .v5_main10 .can2 {
 	   font-size: 16px;
	}
	.v3_main7 .sone60 {
	    font-size: 18px;
	}
	.v3_main5 .sone50 {
	    font-size: 23px ! important;
	}
	.v3_main4 input[type=checkbox].css-checkbox + label.css-label {
	    line-height: 27px;
	}
	.v3_main4 .v5_main6 .term15 {
	    font-size: 14px;
	}
	.v3_main2 .wolf {
	    height: 1320px;
	}
	.v3_main2 .rock18 {
	    font-size: 9px;
	}
	.v3_main2 .rock15 {
	    font-size: 18px;
	}
	.v3_main2 .rock14 {
    	font-size: 19px;
	}
	.v3_main2 .rock13 {
	    font-size: 17px;
	}
	.v3_main2 .rock9 {
	    font-size: 19px;
	}
	.v3_main1 img {
	    margin-left: 120px;
	}
	.v3_main1 .fire-middle {
		width: 100%;
		margin-left: 15px;
	}
	.v3_main .rock1 {
	    font-size: 20px;
	}
	.v3_main .rock2 {
	    font-size: 18px;
	}
	.v3_main .rock3 {
	    font-size: 16px;
	    margin-top: 20px;
	}
	.v3_main .v4_main2 .btn1 {
	    font-size: 14px;
	}
}





@media(max-width: 360px) {
	.v3_main1 .rock6 {
	    font-size: 14px;
	}
	.v3_main1 img {
	    margin-left: 100px;
	}
	.v3_main1 .fire-middle {
    	width: 100%;
	    margin-left: 0;
	}
}
@media(max-width: 340px) {
	.v3_main1 img {
	    margin-left: 80px;
	}
	.v3_main1 .fire-middle {
    	width: 100%;
	    margin-left: 0;
	}
}



